---
import Layout from '../layouts/Layout.astro';
import Button from '../components/Button.astro';

import { getBlogs } from '../library/microcms';
const response = await getBlogs({ fields: ['slug', 'title'] });
---

<Layout title="Roles" discription="test">
  <div class="mx-auto max-w-[820px]">
    <form action="https://ssgform.com/s/nRjJ34vBkiUj" aria-labelledby="form-title" data-astro-cid-uw5kdbxl="" id="js-contact-form" method="post">
      <h2 class="u-visually-hidden" id="form-title" data-astro-cid-uw5kdbxl="">お問い合わせフォーム</h2><div class="group" data-astro-cid-uw5kdbxl="">
        <p class="group-title" data-astro-cid-uw5kdbxl="">
          <label data-astro-cid-uw5kdbxl="" for="name">お名前<strong class="required" data-astro-cid-uw5kdbxl="">必須</strong></label>
        </p><div class="group-content" data-astro-cid-uw5kdbxl="">
          <p data-astro-cid-uw5kdbxl="">
            <span class="c-text-field base-text-input js-base-text-input" data-astro-cid-e4emjnb3="" data-fill="false" style="--scale: 0.9375;"
              ><input
                class="astro-e4emjnb3"
                aria-required="true"
                name="name"
                required=""
                type="text"
                autocomplete="name"
                data-astro-cid-e4emjnb3=""
                id="name"
                title="お名前の入力は必須です"
              /></span
            >
          </p><p
            class="base-alert js-validation"
            aria-hidden="true"
            aria-live="polite"
            data-astro-cid-vb233ta7=""
            data-centering="false"
            data-name="name"
            role="alert"
          >
            <svg
              viewBox="0 0 24 24"
              class="base-icon icon"
              height="16"
              width="16"
              aria-hidden="true"
              data-astro-cid-2mgomxdz=""
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="1.5"
              ><path d="M12 8V12" data-astro-cid-2mgomxdz=""></path><path d="M12 16.0195V16" data-astro-cid-2mgomxdz=""></path><circle
                cx="12"
                cy="12"
                data-astro-cid-2mgomxdz=""
                r="10"></circle></svg
            >
            <span class="js-message" data-astro-cid-vb233ta7=""></span>
          </p>
        </div>
      </div><div class="group" data-astro-cid-uw5kdbxl="">
        <p class="group-title" data-astro-cid-uw5kdbxl="">
          <label data-astro-cid-uw5kdbxl="" for="email">ご連絡先メールアドレス<strong class="required" data-astro-cid-uw5kdbxl="">必須</strong></label>
        </p><div class="group-content" data-astro-cid-uw5kdbxl="">
          <p data-astro-cid-uw5kdbxl="">
            <span class="c-text-field base-text-input js-base-text-input" data-astro-cid-e4emjnb3="" data-fill="false" style="--scale: 0.9375;"
              ><input
                class="astro-e4emjnb3"
                aria-required="true"
                name="email"
                required=""
                type="email"
                autocomplete="email"
                data-astro-cid-e4emjnb3=""
                id="email"
                title="メールアドレスは正しく記入してください"
              /></span
            >
          </p><p
            class="base-alert js-validation"
            aria-hidden="true"
            aria-live="polite"
            data-astro-cid-vb233ta7=""
            data-centering="false"
            data-name="email"
            role="alert"
          >
            <svg
              viewBox="0 0 24 24"
              class="base-icon icon"
              height="16"
              width="16"
              aria-hidden="true"
              data-astro-cid-2mgomxdz=""
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="1.5"
              ><path d="M12 8V12" data-astro-cid-2mgomxdz=""></path><path d="M12 16.0195V16" data-astro-cid-2mgomxdz=""></path><circle
                cx="12"
                cy="12"
                data-astro-cid-2mgomxdz=""
                r="10"></circle></svg
            >
            <span class="js-message" data-astro-cid-vb233ta7=""></span>
          </p>
        </div>
      </div><fieldset class="group" data-astro-cid-uw5kdbxl="">
        <legend class="group-title" data-astro-cid-uw5kdbxl="">お問い合わせ区別<strong class="required" data-astro-cid-uw5kdbxl="">必須</strong></legend><div
          class="group-content"
          data-astro-cid-uw5kdbxl=""
        >
          <ul class="controls-stack" role="list" data-astro-cid-uw5kdbxl="">
            <li data-astro-cid-uw5kdbxl="">
              <label class="base-control" data-astro-cid-xanha5a7=""
                ><input
                  class="u-visually-hidden"
                  aria-required="true"
                  name="inquiry-type"
                  required=""
                  type="radio"
                  data-astro-cid-xanha5a7=""
                  value="転職スカウト"
                />
                <span aria-hidden="true" class="radio-icon" data-astro-cid-xanha5a7=""></span>
                <span class="text" data-astro-cid-xanha5a7="">転職スカウト</span></label
              >
            </li><li data-astro-cid-uw5kdbxl="">
              <label class="base-control" data-astro-cid-xanha5a7=""
                ><input
                  class="u-visually-hidden"
                  aria-required="true"
                  name="inquiry-type"
                  required=""
                  type="radio"
                  data-astro-cid-xanha5a7=""
                  value="案件のご相談"
                />
                <span aria-hidden="true" class="radio-icon" data-astro-cid-xanha5a7=""></span>
                <span class="text" data-astro-cid-xanha5a7="">案件のご相談</span></label
              >
            </li><li data-astro-cid-uw5kdbxl="">
              <label class="base-control" data-astro-cid-xanha5a7=""
                ><input
                  class="u-visually-hidden"
                  aria-required="true"
                  name="inquiry-type"
                  required=""
                  type="radio"
                  data-astro-cid-xanha5a7=""
                  value="記事・執筆依頼"
                />
                <span aria-hidden="true" class="radio-icon" data-astro-cid-xanha5a7=""></span>
                <span class="text" data-astro-cid-xanha5a7="">記事・執筆依頼</span></label
              >
            </li><li data-astro-cid-uw5kdbxl="">
              <label class="base-control" data-astro-cid-xanha5a7=""
                ><input
                  class="u-visually-hidden"
                  aria-required="true"
                  name="inquiry-type"
                  required=""
                  type="radio"
                  data-astro-cid-xanha5a7=""
                  value="当ブログへの要望"
                />
                <span aria-hidden="true" class="radio-icon" data-astro-cid-xanha5a7=""></span>
                <span class="text" data-astro-cid-xanha5a7="">当ブログへの要望</span></label
              >
            </li><li data-astro-cid-uw5kdbxl="">
              <label class="base-control" data-astro-cid-xanha5a7=""
                ><input
                  class="u-visually-hidden"
                  aria-required="true"
                  name="inquiry-type"
                  required=""
                  type="radio"
                  data-astro-cid-xanha5a7=""
                  value="その他営業・協業依頼"
                />
                <span aria-hidden="true" class="radio-icon" data-astro-cid-xanha5a7=""></span>
                <span class="text" data-astro-cid-xanha5a7="">その他営業・協業依頼</span></label
              >
            </li>
          </ul><p
            class="base-alert js-validation"
            aria-hidden="true"
            aria-live="polite"
            data-astro-cid-vb233ta7=""
            data-centering="false"
            data-name="inquiry-type"
            role="alert"
          >
            <svg
              viewBox="0 0 24 24"
              class="base-icon icon"
              height="16"
              width="16"
              aria-hidden="true"
              data-astro-cid-2mgomxdz=""
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="1.5"
              ><path d="M12 8V12" data-astro-cid-2mgomxdz=""></path><path d="M12 16.0195V16" data-astro-cid-2mgomxdz=""></path><circle
                cx="12"
                cy="12"
                data-astro-cid-2mgomxdz=""
                r="10"></circle></svg
            >
            <span class="js-message" data-astro-cid-vb233ta7=""></span>
          </p>
        </div>
      </fieldset><div class="group" data-astro-cid-uw5kdbxl="">
        <p class="group-title" data-astro-cid-uw5kdbxl="">
          <label data-astro-cid-uw5kdbxl="" for="message">お問い合わせ内容<strong class="required" data-astro-cid-uw5kdbxl="">必須</strong></label>
        </p><div class="group-content" data-astro-cid-uw5kdbxl="">
          <p data-astro-cid-uw5kdbxl="">
            <span class="c-text-field base-text-area js-base-textarea" data-astro-cid-fxxye3n2="" style="--scale: 0.9375;"
              ><textarea
                aria-required="true"
                class="textarea"
                data-astro-cid-fxxye3n2=""
                id="message"
                name="message"
                required=""
                title="お問い合わせ内容は必ず記入してください"></textarea>
              <span class="form-sizing js-form-sizing" data-astro-cid-fxxye3n2="" inert=""></span></span
            >
          </p><p
            class="base-alert js-validation"
            aria-hidden="true"
            aria-live="polite"
            data-astro-cid-vb233ta7=""
            data-centering="false"
            data-name="message"
            role="alert"
          >
            <svg
              viewBox="0 0 24 24"
              class="base-icon icon"
              height="16"
              width="16"
              aria-hidden="true"
              data-astro-cid-2mgomxdz=""
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="1.5"
              ><path d="M12 8V12" data-astro-cid-2mgomxdz=""></path><path d="M12 16.0195V16" data-astro-cid-2mgomxdz=""></path><circle
                cx="12"
                cy="12"
                data-astro-cid-2mgomxdz=""
                r="10"></circle></svg
            >
            <span class="js-message" data-astro-cid-vb233ta7=""></span>
          </p>
        </div>
      </div><div class="submit" data-astro-cid-uw5kdbxl="">
        <div class="submit-notion" data-astro-cid-uw5kdbxl="">
          <p data-astro-cid-uw5kdbxl="">送信前に入力内容に誤りがないかをご確認ください。</p><p data-astro-cid-uw5kdbxl="">※送信確認画面はございません。</p>
        </div><div class="submit-alert" data-astro-cid-uw5kdbxl="">
          <p
            class="base-alert js-validation"
            aria-hidden="true"
            aria-live="polite"
            data-astro-cid-vb233ta7=""
            data-centering="true"
            data-name="submit"
            role="alert"
          >
            <svg
              viewBox="0 0 24 24"
              class="base-icon icon"
              height="16"
              width="16"
              aria-hidden="true"
              data-astro-cid-2mgomxdz=""
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="1.5"
              ><path d="M12 8V12" data-astro-cid-2mgomxdz=""></path><path d="M12 16.0195V16" data-astro-cid-2mgomxdz=""></path><circle
                cx="12"
                cy="12"
                data-astro-cid-2mgomxdz=""
                r="10"></circle></svg
            >
            <span class="js-message" data-astro-cid-vb233ta7=""></span>
          </p>
        </div><div class="submit-button-wrapper" data-astro-cid-uw5kdbxl="">
          <div>
            <div
              class="grecaptcha-badge"
              data-style="bottomright"
              style="width: 256px; height: 60px; display: block; transition: right 0.3s ease 0s; position: fixed; bottom: 14px; right: -186px; box-shadow: gray 0px 0px 5px; border-radius: 2px; z-index: 100;"
            >
              <div class="grecaptcha-logo">
                <iframe
                  title="reCAPTCHA"
                  width="256"
                  height="60"
                  role="presentation"
                  name="a-xsozpvz043iq"
                  frameborder="0"
                  scrolling="no"
                  sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-top-navigation allow-modals allow-popups-to-escape-sandbox allow-storage-access-by-user-activation"
                  src="https://www.google.com/recaptcha/api2/anchor?ar=1&k=6LdEZoUpAAAAAOcn-1ynB0Nwf3psB_nThLsh4Vg7&co=aHR0cHM6Ly93d3cudGFrLWRjeGkuY29tOjQ0Mw..&hl=ja&v=moV1mTgQ6S91nuTnmll4Y9yf&size=invisible&sa=submit&cb=5iimqmfdkisx"
                ></iframe>
              </div><div class="grecaptcha-error"></div><textarea
                id="g-recaptcha-response"
                name="g-recaptcha-response"
                class="g-recaptcha-response"
                style="width: 250px; height: 40px; border: 1px solid rgb(193, 193, 193); margin: 10px 25px; padding: 0px; resize: none; display: none;"
              ></textarea>
            </div><iframe style="display: none;"></iframe>
          </div><button
            class="base-button g-recaptcha submit-button"
            type="submit"
            id="submit-button"
            data-action="submit"
            data-astro-cid-4zef22ab=""
            data-callback="onSubmit"
            data-sitekey="6LdEZoUpAAAAAOcn-1ynB0Nwf3psB_nThLsh4Vg7"
            >送信する<svg
              viewBox="0 0 24 24"
              class="base-icon icon chevron"
              height="16"
              width="16"
              aria-hidden="true"
              data-astro-cid-2mgomxdz=""
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="1.5"><path d="M8 4L16 12L8 20" data-astro-cid-2mgomxdz=""></path></svg
            ></button
          >
        </div>
      </div>
    </form>
  </div>
</Layout>

<script src="https://www.google.com/recaptcha/api.js"></script>

<script>
  function onSubmit(token) {
    document.getElementById('js-contact-form').submit();
  }
</script>
