---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Roles" discription="test">
  <div class="mx-auto mt-72 max-w-[820px]">
    <form action="https://ssgform.com/s/nRjJ34vBkiUj" aria-labelledby="form-title" id="sample-form" method="post">
      <input class="bg-slate-200" type="text" name="お名前" required="required" />
      <input class="bg-slate-200" type="email" name="メールアドレス" required="required" />
      <textarea class="bg-slate-200" name="お問い合わせ内容" required="required"></textarea>
      <div>
        <button class="g-recaptcha" data-sitekey="6LdM3K0pAAAAAMckqS0ih-0CfwKRsJgxnliY4uBP" data-callback="onSubmit" data-action="submit">送信する</button>
      </div>
    </form>
  </div>
</Layout>

<script>
  function onSubmit(token: string | undefined): void {
    const form: HTMLFormElement | null = document.getElementById('contact-form') as HTMLFormElement | null;
    if (form?.reportValidity()) {
      form.submit();
    }
  }
</script>
