---
import Layout from '../layouts/Layout.astro';
import Button from '../components/Button.astro';

import { getBlogs } from '../library/microcms';
const response = await getBlogs({ fields: ['slug', 'title'] });
---

<Layout title="Roles" discription="test">
  <div class="mx-auto max-w-[820px]">
    <form action="https://ssgform.com/s/nRjJ34vBkiUj" aria-labelledby="form-title" id="js-contact-form" method="post">
      <input class="bg-slate-200" type="text" name="お名前" required="required" />
      <input class="bg-slate-200" type="email" name="メールアドレス" required="required" />
      <textarea class="bg-slate-200" name="お問い合わせ内容" required="required"></textarea>
      <div class="submit">
        <div>
          <button class="g-recaptcha" data-sitekey="reCAPTCHA_site_key" data-callback="onSubmit" data-action="submit">Submit</button>
        </div>
      </div>
    </form>
  </div>
</Layout>

<script>
  function onSubmit(token) {
    document.getElementById('js-contact-form').submit();
  }
</script>
