---
import Layout from '../layouts/Layout.astro';
import Button from '../components/Button.astro';

import { getBlogs } from '../library/microcms';
const response = await getBlogs({ fields: ['slug', 'title'] });
---

<Layout title="Roles" discription="test">
  <div class="mx-auto mt-72 max-w-[820px]">
    <form action="https://ssgform.com/s/nRjJ34vBkiUj" aria-labelledby="form-title" id="sample-form" method="post">
      <input class="bg-slate-200" type="text" name="お名前" required="required" />
      <input class="bg-slate-200" type="email" name="メールアドレス" required="required" />
      <textarea class="bg-slate-200" name="お問い合わせ内容" required="required"></textarea>
      <div>
        <button class="g-recaptcha" data-sitekey="6LdM3K0pAAAAAMckqS0ih-0CfwKRsJgxnliY4uBP" data-callback="onSubmit" data-action="submit">送信する</button>
      </div>
    </form>
  </div>
</Layout>

<script src="https://www.google.com/recaptcha/api.js?render=6LdM3K0pAAAAAMckqS0ih-0CfwKRsJgxnliY4uBP"></script>
<script>
  grecaptcha.ready(function () {
    grecaptcha.execute('6LdM3K0pAAAAAMckqS0ih-0CfwKRsJgxnliY4uBP', { action: 'submit' }).then(function (token) {
      var recaptchaResponse = document.getElementById('recaptchaResponse');
      recaptchaResponse.value = token;
    });
  });
</script>
