---
import Plane from '../icons/Plane.astro';

// interface Props {
//   href: string;
//   arrow?: boolean;
// }

// const { href, arrow } = Astro.props;
---

<section class="mt-auto px-gutter-x">
  <a
    href="/contact/"
    class="mx-auto flex max-w-[820px] flex-col items-center rounded border-2 border-neutral-100 bg-neutral-100/50 p-5 transition-colors duration-300 marker:rounded-xl hover:border-neutral-300 hover:bg-neutral-100 focus-visible:border-purple-200 focus-visible:bg-purple-100 focus-visible:outline-none md:rounded-2xl md:p-8"
  >
    <h4 class="text-4xl font-bold">Say Hi</h4>
    <p class="mt-4">お問い合わせはこちらから</p>
    <span class="mt-8 grid size-[120px] place-items-center rounded-full border border-neutral-200 bg-white">
      <Plane width={80} height={80} />
    </span>
  </a>
</section>
