---
import Button from '../components/Button.astro';

// interface Props {
//   href: string;
//   arrow?: boolean;
// }

// const { href, arrow } = Astro.props;
---

<section class="mt-auto px-gutter-x">
  <div class="mx-auto max-w-[820px] shadow-sm marker:rounded-xl">
    <h4>Say Hi!</h4>
    <Button href="/contact/">お問い合わせへ</Button>
  </div>
</section>
