---
import Logo from '../components/Logo.astro';
import Button from '../components/Button.astro';
const { pathname } = Astro.url;
---

<div class="fixed top-gutter-x-0.5 z-header w-full px-gutter-x-0.5 md:top-5">
  <header class="mx-auto w-full max-w-[560px] rounded border border-white/25 bg-neutral-100/50 px-5 py-4 backdrop-blur-lg md:rounded-2xl">
    <div class="flex items-center justify-between gap-gutter-x">
      <a class="block w-[80px]" href="/" aria-label="TOPページへ戻る">
        <Logo />
      </a>

      <button
        id="menuBtn"
        class="w-[28px] cursor-pointer"
        aria-label="メニューを開く"
        aria-expanded="false"
        aria-controls="nav"
        transition:animate="none"
        transition:persist="menu"></button>
    </div>

    <nav
      id="menu"
      class="absolute inset-x-0 top-full mt-6 h-[calc(100vh-32px-theme(spacing.gutter-y))] overflow-y-auto overscroll-contain border-t border-neutral-200 pt-6 transition-opacity duration-100 ease-out lg:visible lg:relative lg:h-auto"
      aria-hidden="true"
      aria-label="Header menu"
    >
      <h4 class="font-bold">カテゴリーから探す</h4>
      <ul class="mt-5 hidden gap-y-2 text-4xl font-medium text-black md:grid lg:flex lg:text-base lg:font-normal">
        {
          [
            { label: 'Figma', href: '/figma/' },
            { label: 'CSS', href: '/css/' },
            { label: 'HTML', href: '/html/' },
          ].map(({ label, href }) => {
            const isCurrent = href === '/' ? pathname === '/' : pathname.startsWith(href);

            return (
              <li>
                <a
                  href={href}
                  class:list={[
                    'relative lg:flex lg:px-5 hover:text-neutral-600 transition-colors duration-100 ease-out gap-[0.5em]',
                    isCurrent &&
                      'before:absolute before:w-full before:h-px before:top-[calc(50%-1px)] before:left-0 before:bg-neutral-600 text-neutral-600 before:content-[""]',
                  ]}
                >
                  {label}
                </a>
              </li>
            );
          })
        }
      </ul>
      <div class="flex flex-col justify-center gap-5 sm:flex-row">
        <Button href="/media/">記事ページ一覧を見る</Button>
        <Button href="/about/">このサイトについて</Button>
      </div>
    </nav>
  </header>
</div>

<script>
  import Lottie from 'lottie-web';
  import json from '../lottie/menu.json';

  const target = document.getElementById('menuBtn');

  if (target) {
    document.addEventListener(
      'astro:page-load',
      () => {
        const menuOptions = Lottie.loadAnimation({
          container: target,
          renderer: 'svg',
          loop: false,
          autoplay: false,
          animationData: json,
        });

        const anim = menuOptions;
        anim.setSpeed(3);

        target?.addEventListener('click', function () {
          if (target.getAttribute('aria-expanded') === 'true') {
            target.setAttribute('aria-expanded', 'false');
            anim.setDirection(-1);
            anim.play();
          } else {
            target.setAttribute('aria-expanded', 'true');
            anim.setDirection(1);
            anim.play();
          }
        });
      },
      { once: true }
    );
  }
</script>
