---
import Logo from '../components/Logo.astro';

const { pathname } = Astro.url;
---

<div class="fixed top-5 w-full z-header px-gutter-x-0.5">
  <header class="w-full max-w-[400px] mx-auto flex items-center justify-between gap-gutter-x bg-neutral-200/50 px-gutter-x-0.5 py-4 rounded-2xl backdrop-blur-lg">
    <a class="block w-[60px] md:w-[80px]" href="/">
      <Logo />
    </a>

    <nav id="menu" class="absolute inset-x-0 top-full h-[calc(100vh-32px-theme(spacing.gutter-y))] overflow-y-auto overscroll-contain px-gutter-x pb-gutter-y pt-gutter-y-0.5 transition-opacity duration-100 ease-out lg:visible lg:relative lg:h-auto lg:p-0" aria-hidden="true" aria-label="Header menu">
      <ul class="hidden gap-y-2 text-4xl font-medium text-black md:grid lg:flex lg:text-base lg:font-normal">
        {
          [
            { label: 'Media', href: '/media/' }
          ].map(({ label, href }) => {
            const isCurrent =
              href === '/' ? pathname === '/' : pathname.startsWith(href);

            return (
              <li>
                <a
                  href={href}
                  class:list={[
                    'relative lg:flex lg:px-5 hover:text-neutral-600 transition-colors duration-100 ease-out gap-[0.5em]',
                    isCurrent &&
                      'before:absolute before:w-full before:h-px before:top-[calc(50%-1px)] before:left-0 before:bg-neutral-600 text-neutral-600 before:content-[""]',
                  ]}
                >
                  {label}
                </a>
              </li>
            );
          })
        }
      </ul>
    </nav>
  </header>
</div>