---
import { ViewTransitions } from 'astro:transitions';
import { fade } from 'astro:transitions';
import Header from '../components/Header.astro';
import ContactWire from '../components/ContactWire.astro';
import Footer from '../components/Footer.astro';

interface Props {
  title: string;
  discription: string;
}

const { title, discription } = Astro.props;
---

<!doctype html>
<html lang="ja" class="h-full">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>

    <meta name="description" content={discription} />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&family=Noto+Sans+JP:wght@100..900&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

    <ViewTransitions />
  </head>
  <body class="box-border flex min-h-full flex-col bg-white font-primary leading-normal text-neutral-800 dark:bg-slate-900">
    <Header />
    <main class="mb-10 w-full shrink-0 px-gutter-x pt-20" transition:animate={fade({ duration: '0.2s' })}>
      <slot />
    </main>
    <ContactWire />
    <Footer />

    <script defer="defer" src="https://www.google.com/recaptcha/api.js"></script>
  </body>
</html>
