---
import { ViewTransitions } from 'astro:transitions';
import { fade } from 'astro:transitions';
import Header from '../components/Header.astro';

interface Props {
	title: string;
	discription: string;
}

const { title, discription } = Astro.props;
---

<!doctype html>
<html lang="">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		
		<meta name="description" content={discription} />

		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&family=Noto+Sans+JP:wght@100..900&display=swap" rel="stylesheet">

		<ViewTransitions />
	</head>
	<body class="font-primary leading-normal text-neutral-900">
		<Header />
		<main class="w-full px-gutter-x" transition:animate={fade({ duration: '0.2s' })}>
			<slot/>
		</main>
	</body>
</html>
<style is:global></style>
